/* Base selectors */

body {
  height: 100%;
  margin: 0;
}

header {
  font-size: 35px;
  height: 100%;
  background-image:url("images/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding-left: 250px;
  padding-right: 100px;
  padding-bottom: 800px;
  font-family: Oswald;
  margin-left: auto;
}

ul {
  list-style-type: none;
  display: inline;
  margin-left: auto;
  margin-right: auto;
  color: black;
  float: right;
}

img {
  display: block;
  border-radius: 50%;
  border: 8px solid white;
  float: right;
  margin-top: 90px;
}

a {
  text-decoration: none;
}

p {
  font-size: 25px;
  font-family: "Mada";
  text-align: center;
}

ul li {
  margin: 0 10px;
  display: inline;
}

/* Class Selectors  */

.duo {
  font-size: 35px;
  font-family: "Roboto Slab";
  margin-top: 25px;
  margin-right: 320px;
  padding-bottom: 50px;
  padding-top: 50px;
}

.uno {
  text-decoration: none;
  color: white;
  margin-left: : auto;
  margin-right: auto;
  text-shadow: 3px 3px black;
}

.div-container {
  padding: 0 4.5% 0;
  background-color: #C9C9C9;
}

/* Pseudo Selectors */

a:hover {
  text-decoration: underline;
}
